* {
    font-family: 'Oswald', sans-serif;
}

.homeMain {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:white;
    height:100vh;
    background-image: url(/img/background-2.jpg);
    /* background-size:60rem ;
    background-repeat: no-repeat;
    opacity: 0.6; */
}

.titleBorder {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding:0 0.3rem;
    background: linear-gradient(to right, #ebc682, #FFFFFF,  #ebc682 );
    border-radius: 10px;
    height:4.8rem;
    margin-top: 2rem;
    
}

.homeTitle {
    color: white;
    background-color:black;
    border-radius:10px;
    padding:0rem 1rem;
    font-size: 3.8rem;
    font-weight:500;
    font-family: 'Alatsi', sans-serif;

    
}

.homeMenu {
    
    margin-top:8rem;
    height:35rem;
    justify-content: space-between;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
    z-index: 0;
}



.rules {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-content: center;
    position:absolute;
    height:50vw;
    width: 50%;
    border: 4px solid white;
    border-radius:10px;
    background-color: rgb(105, 104, 104);
    color:white;
    top:14.8rem;
    font-family: 'Alatsi', sans-serif;
    font-size: 4rem;
    /* overflow: visible ; */
    z-index: 5;
}

.rules p {
    padding-top:0.5rem;
}

.rules ul {
    margin-top:3rem;
    padding-left:4rem;
    text-align:left;
    list-style-type:disc;
}

.rules li {
    margin-top:1rem;
    font-size: 1.5rem;
}

.buttonBorder {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding:0 0.2rem;
    background: linear-gradient(to right, #ebc682, #FFFFFF,  #ebc682 );
    border-radius: 10px;
    height:4.4rem;
    margin-top: 0rem;
    width: 22.5rem;
}

.homeMenu button {
    background-color: rgb(105, 104, 104);
    color:white;
    padding: 0.8rem 4rem;
    width:15em;
    font-size:1.5rem;
    font-weight:700;
    border-radius:10px;
}
.footer {
    margin-top:4rem;
    margin-bottom:2rem;
    color: #ebc682;
    font-size: 1.5rem;
    font-weight:700;
    background-color:rgb(105, 104, 104);
    border-radius: 10px;
    padding:0.5rem;
}




.startButton {
    background-color: rgb(105, 104, 104);
    color:white;
    padding: 0.8rem 3.8em;
    /* width:15em; */
    font-size:1.5rem;
    font-weight:700;
    border-radius:10px;

}

@media screen  and (min-width: 700px) and (max-width:770px) {
    .titleBorder {
        height: 4.1rem;
    }

    .buttonBorder {
        height: 4.5rem;
    }

    .demo {
        height: 4.5rem;
    }

    .rules {
        width:90%;
        height:60vw;
    }

    .startButtonBorder {
        margin-left: 1.4em;
    }
}

@media screen  and (min-width: 463px) and (max-width:699px) {
    .homeTitle {
        /* width:50%; */
    }

    .buttonBorder {
        height: 4.5rem;
    }

    .demo {
        height: 4.5rem;
    }

    .rules {
        width:90%;
    }

    .startButtonBorder {
        margin-left: 1.4em;
    }
}

@media screen and(min-width: 411px) and (max-width:462px){
    .titleBorder {
        height:5rem;
    }

    .homeTitle {
        font-size: 3.5rem;
    }

    .homeMenu {
        width:86%;
    }
}


@media screen and (max-width:410px) {

    .homeTitle {
        padding:0 0;
        width:100%;
        font-size: 2.8rem;
    }

    .titleBorder {
        height: 3.6rem;
        width: 75%;
    }

    .homeMenu {
        width:98%;
    }
    .rules {
        width: 90%;
        height:75%;
        top: 3em;
    }
}